.klient__header {
    text-transform: uppercase;
    font-size: 30px;
}

@media(max-width: 767px) {
    .klient__header {
        font-size: 25px;
        margin: 0;
    }
}

.klient__paragraph {
    line-height: 1.9;
    color: #777;
    font-size: 18px;
}

@media(max-width: 767px) {
    .klient__paragraph {
        font-size: 16px;
        line-height: 1.5;
    }
}


html {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 20px 50px 20px 50px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
	
}

.mail{ color: grey;
margin: auto;
}

.button {
    display: block;
    margin: 20px auto 20px auto;
    border: none;
    background: #ddd;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color:#919191;
}

.button:hover {
  background-color: #555;
}